.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: var(--primary-orange);
}
.heading {
  font-size: 36px;
  margin-top: 16px;
  color: var(--text-primary);
  font-weight: 400;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 72vh;
  width: 24vw;
  background: #2c2c2c;
  border: 8px solid #ffffff4d;
  font-family: inherit;
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: relative;
}

.boxContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 72vh;
  width: 24vw;
}

.boxContent h1 {
  font-size: 40px;
  margin-top: 56px;
}

.dots {
  :first-child {
    top: 0;
    left: 0;
  }
  :nth-child(2) {
    top: 0;
    right: 0;
  }
  :nth-child(3) {
    bottom: 0;
    left: 0;
  }
  :nth-child(4) {
    bottom: 0;
    right: 0;
  }
}

.dots div {
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 16px;
  border-radius: 50%;
  background: #ffffff4d;
}

.content {
  margin-bottom: 8vh;
  width: 72%;
}


.genders {
  display: flex;
  gap: 16px;
  &__gender {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 400ms all ease-in-out;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: var(--box-background);
    border: 3px solid var(--box-border);
  }
}