.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  background: var(--primary-orange);
  border: 8px solid var(--primary-button-border);
  font-family: inherit;
  font-size: 24px;
  color: white;
  cursor: pointer;
  // transition: all 0.2s ease-in-out;
  &:hover {
    scale: 1.02;
  }
}
