.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 135px;
  gap: 20px;

  &__section {
    display: flex;
    flex-direction: column;

    &__title {
      color: white;
      font-size: 50px;
    }

    &__subtitle {
      color: white;
      font-size: 30px;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      gap: 20px;
      margin-top: 0px;
    }
  }
}
