.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // background-image: url('../../public/background.svg');
  // background-size: cover;
  // background-repeat: repeat-y;
  // background-attachment: fixed;

  &__content {
    
    display: flex;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  &__contentlanding {

    display: flex;
    width: 60%;
  }
}
