:root {
  --background: #272727;
  --primary-orange: #bb493a;
  --text-primary: #FFFFFF;
  --primary-button-border: #ffffff75;
  --box-background: #202020;
  --box-border: rgba(255, 255, 255, 0.27);
  --primary-purple: #7E41CB;
}
