.card {
  background-color: #202020;
  border: 5px solid #ffffff27;
  width: 100%;
  padding: 17px 18px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;

  &__title {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 5px;

    &__stat {
      display: flex;
      flex-flow: row;
      justify-content: space-between;

      &__name {
        color: #ffffff;
        font-size: 24px;
      }

      &__value {
        color: #ffffff;
        font-size: 24px;
      }
    }
  }

  &__hr {
    margin-top: 15px;
    width: 100%;
    height: 1px;
    background-color: #505050;
  }
}
