.input {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    background-color: var(--box-background);
    color: #8A8A8A;
    outline: none;
    border: 3px solid var(--box-border);
    font-family: 'VT323';
    resize: none;
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px   ;
}

