.container {
  height: calc(100vh - 100px);
  
 
}
.child {
  scroll-snap-align: start;
  height: 125vh;
}

.heading {
  font-size: 36px;
  text-align: center;
  margin-top: 16px;
  color: var(--text-primary);
  font-weight: 400;
  margin-top: -20px;
}