.container {
  margin-top: 135px;
  height: calc(100vh - 128px);
  width: 100%;
  color: white;
  .main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    .textshit {
      width: 100%;
      :nth-child(1) {
        font-size: 40px;
        margin: 0;
        padding: 0;
      }
      :nth-child(2) {
        font-size: 32px;
        margin: 4px 0 0 0;
        padding: 0;
      }
      :nth-child(3) {
        font-size: 28px;
        margin: 16px 0 0 0;
        padding: 0;
      }
    }
    &__content {
      display: flex;
      width: 100%;
      margin-top: 32px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.card {
  height: 240px;
  max-width: 48%;
  width: 550px;
  margin-bottom: 32px;
  background: var(--box-background);
  border: 5px solid var(--box-border);
  font-family: inherit;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  color: white;
  &__content {
    // height: 80%;
    width: 100%;
    // background: black;

    &__content {
      margin-top: 14px;
      font-size: 24px;
      padding-right: 32px;
    }
    hr {
      border: 1px solid #505050;
      margin-right: 32px;
      margin-top: 18px;
      margin-bottom: 20px;
    }
    &__name {
      font-size: 32px;
      margin: 0;
      padding: 0;
    }
    &__stats {
      margin-top: 5px;
      margin-right: 32px;
      &__stat {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div {
          font-size: 24px;
        }
      }
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
      margin-right: 32px;
  
      button {
        height: 48px;
        width: 47%;
      }
    }
  }
}


.cardpower {
  height: 300px;
  max-width: 48%;
  width: 550px;
  margin-bottom: 32px;
  background: var(--box-background);
  border: 5px solid var(--box-border);
  font-family: inherit;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  color: white;
  &__content {
    // height: 80%;
    width: 100%;
    // background: black;

    &__content {
      margin-top: 10px;
      font-size: 24px;
    }
    hr {
      border: 1px solid #505050;
      margin-right: 32px;
      margin-left: 32px;
      margin-top: 18px;
      margin-bottom: 20px;
    }
    &__name {
      font-size: 32px;
      margin: 0;
      padding: 0;
    }
    &__stats {
      margin-top: 5px;
      margin-right: 32px;
      &__stat {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div {
          font-size: 24px;
        }
      }
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
      margin-right: 32px;
      margin-left: 32px;
      button {
        height: 48px;
        width: 100%;
      }
    }
  }
}

.imgContainer {
  width: 180px;
  transform: translateX(-30px);
}

.imgContainer2 {
  min-width: 140px;
  min-height: 140px;
  width: 140px;
  height: 140px;
  margin-top: auto;
  margin-bottom: auto;
  transform: translateX(-4px);
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagestuff {
  display: flex;
}

.leaderboard {
  color: white;
  padding-bottom: 40px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #505050;
    div {
      font-size: 24px;
    }
  }
  &__row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    div {
      font-size: 24px;
    }
  }
}
