.nav {
  width: 100%;
  background: var(--background);
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
  z-index: 10;

  &__logo {
    width: 100px;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 20px;

    &__link {
      color: #ffffff;
      font-size: 24px;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__center {
    display: flex;
    gap: 20px;
  }
}
